




  .border-main{
    border-radius: 10px;
}


.active{
        display:block !important;
}

.un-active{
        display: none !important;
}


   .pointer{
        cursor: pointer;
   }



   .main-auto{
       margin: 5px auto;
   }



   .comman-para{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #9b9b9b;
}

.bg-cover-img{
      background-size: cover;
}

.main-weight{
    font-weight: 800;
    color: #9b9b9b;

}


.mar-right{
    margin-right: 10px;
}

.text-right{
    text-align: right;
}
.comman-border{
border-bottom: 1px solid #FDF4DC;

}

.tamato-color{
  color: tomato;
}